/.idea
/*.DotSettings.user
/BlakeSharpNG_coverage.xml

bin/
obj/

/test_case_generator/.idea
/test_case_generator/package-lock.json
/test_case_generator/node_modules
/test_case_generator/test-blake.tsv
